<div [ngClass]="isModalReadyToPopUp ? 'modal show-modal' : 'modal'">
    <div class="modal-content">
        <span (click)="closeModal()" class="close-button">×</span>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <img src={{infoCharacter.image}} alt="" />
                </div>
                <div class="card-body">
                    <span class="tag">{{infoCharacter.name}}</span>
                    @for (episode of infoCharacter.episodes; track $index) {
                    <h4>{{episode.episode}} - {{episode.name}}</h4>
                    }
                </div>
            </div>
        </div>
    </div>
</div>