<div class="container">
    <h1 [hidden]="!isGameOver">Game over!</h1>
    <h1 [hidden]="!isWon">You win!</h1>
    <div [hidden]="isGameOver || isWon">
        <h1 (click)="startGame()">Let's play!</h1>

        <table style="margin-left:auto;margin-right:auto;">
            @for (row of (isLevel1 ? [0, 1] : isLevel2 ? [0, 1, 2] : [0, 1, 2, 3]); track $index) {
            <tr>
                @for (col of (isLevel1 ? [0, 1] : isLevel2 ? [0, 1, 2] : [0, 1, 2, 3]); track $index) {
                <td class="activity" [ngStyle]="{
                            'background-color': currentColorCombination[row * numCols + col] || defaultColor
                        }" (click)="changeColorCell(row * numCols + col)"></td>
                }
            </tr>
            }
        </table>

        <h1 (click)="checkResult()">Check!</h1>
    </div>
</div>