<div class="container">
    <h1 [hidden]="true">Game over!</h1>
    <h1 (click)="startGame()">Let's play!</h1>
    <table style="margin-left:auto;margin-right:auto;">
        <tr>
            <td class="activity" [ngStyle]="{
                'background-color': combinationCreated[0] || defaultColor
            }"></td>
            <td class="activity" [ngStyle]="{
                'background-color': combinationCreated[1] || defaultColor
            }"></td>
        </tr>
        <tr>
            <td class="activity" [ngStyle]="{
                'background-color': combinationCreated[2] || defaultColor
            }"></td>
            <td class="activity" [ngStyle]="{
                'background-color': combinationCreated[3] || defaultColor
            }"></td>
        </tr>
    </table>
</div>