<div class="journal">
    <div class="first photo">
        <div>
            <div class="image-container">
                <img [src]="images[currentIndex]">
            </div>
        </div>
        <span class="caption">Memoria a largo plazo</span>
    </div>
    <div>
        <div>
            <span class="quote">¿Qué es la memoria a largo plazo?</span>
            <p>
                <span class="first-letter">L</span>
                La memoria a largo plazo se puede definir como el mecanismo cerebral que nos permite codificar y retener
                una cantidad prácticamente ilimitada de información durante un periodo largo de tiempo. Los recuerdos
                que almacenamos en la memoria a largo plazo pueden durar desde unos segundos hasta varios años.
            </p>
            <p>
                La memoria a largo plazo resulta un elemento clave para realizar nuestras tareas cotidianas sin errores
                y de forma autónoma. Este tipo de memoria hace referencia a la capacidad del cerebro para almacenar
                hechos, conocimientos o destrezas y recuperar más tarde esos recuerdos. La memoria a largo plazo es una
                capacidad muy amplia y compleja que implica una gran cantidad de estructuras cerebrales. Por esto mismo,
                es muy sensible al daño cerebral. Afortunadamente, la práctica y el entrenamiento cognitivo puede
                mejorar esta importante función cognitiva.
            </p>
            <p>
                Un programa en entrenamiento cerebral permite activar y fortalecer nuestra memoria y otras importantes
                capacidades cognitivas. Los juegos mentales estimulan determinados patrones de activación neuronal. La
                activación repetida de estos patrones cognitivos puede ayudar a fortalecer las conexiones neuronales
                implicadas en la memoria y establecer nuevas sinapsis capaces de reorganizar y/o recuperar funciones
                cognitivas más débiles o dañadas.
            </p>
        </div>

    </div>

</div>