@charset "UTF-8";

.elementor-grid {
    display: grid;
}

.elementor-grid-3 .elementor-grid {
    grid-template-columns: repeat(3, 1fr)
}

.elementor-grid-1 .elementor-grid {
    grid-template-columns: repeat(1, 1fr)
}

body {
    background-color: #efefef;
    color: #3a3a3a;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
}

.container {
    grid-column-gap: 25px;
}

.photo-container {
    height: 285px;
    width: 100%;
    margin-bottom: 25px;
}

.photo {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center
}

.content {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
}