<div class="journal">
    @if (!isDescriptionHomeHidden) {
    <!-- Photos -->
    <div class="first photo">
        <div>
            <div class="image-container2">
                @for (element of elementsInfo; track $index) {
                <img [src]="element.img" (click)="showDetailsImg(element)">
                }
            </div>
        </div>
        <span class="caption">Memoria</span>
    </div>

    <!-- Description -->
    <div>
        <span class="quote">¿Qué es la memoria?</span>

        <p>
            <span class="first-letter">C</span>
            uando nos referimos a la memoria, no hablamos de un órgano concreto, sino de diversas
            estructuras cerebrales que intervienen en complejos procesos que nos permiten registrar,
            almacenar y acceder a distintos tipos de información. Si bien intervienen complejos circuitos
            neuronales, en términos generales, la memoria se desenvuelve de la siguiente manera:
        </p>
        <p>
            Una primera fase de codificación. Aquí se hace una primera lectura de la información que luego será
            almacenada. La concentración, la atención y la motivación de la persona son aspectos claves en la
            selección de lo que se almacenará.
        </p>
        <p>
            El almacenamiento es la segunda fase y se refiere a la retención de la información.
        </p>
        <p>
            Una tercera fase es la de recuperación, que se refiere a la posibilidad de disponer de dicha información
            cuando la precisamos.
        </p>
    </div>
    } @else if(!isDescriptionTypeMemoryHidden){
    <!-- Specific Photo -->
    <div class="first photo">
        <div>
            <div class="image-container">
                <img [src]="selectedMemoryDetails.img" (click)="showAdvices(selectedMemoryDetails.associatedImg)">
            </div>
        </div>
        <span class="caption">{{selectedMemoryDetails.title}}</span>
    </div>

    <!-- Information -->
    <div>
        <span class="quote">Existen seis tipos de memoria</span>

        @for (paragraph of selectedMemoryDetails.paragraphs; track $index) {
        <p [innerHTML]="paragraph"></p>
        }
    </div>
    } @else if(!isAdvicesHidden){
    <!-- Linked Photo -->
    <div class="first photo">
        <div>
            <div class="image-container">
                <img [src]="associatedImg" (click)="returnToHomePage()">
            </div>
        </div>
        <span class="caption">{{selectedMemoryDetails.title}}</span>
    </div>

    <!-- Advices -->
    <span class="quote">Consejos para mejorar la memoria</span>
    <p>
        <span class="first-letter">B</span>
        uen descanso: durante el sueño se llevan a cabo diferentes procesos que implican la consolidación de los
        recuerdos
        y el aprendizaje, así como la selección de la información que debe descartarse.
    </p>
    <p>
        <span class="first-letter">E</span>
        stado emocional: es una influencia respecto de aquellas cosas a las que les prestamos atención, lo que
        recordamos
        y lo que olvidamos. Por ejemplo, si estamos con mucha ansiedad, será difícil que podamos prestar
        atención a una
        conversación o que podamos conectarnos con un suceso en particular.
    </p>
    <p>
        <span class="first-letter">D</span>
        isminuir la cantidad de fuentes de estimulación: si queremos retener cierta información, lo mejor es que
        tratemos
        de capturarla en detalle, focalizándonos en ella. En ese caso, es mejor evitar estar pendiente del
        televisor, del
        celular, de la conversación de la persona que está al lado.
    </p>
    <p>
        <span class="first-letter">J</span>
        ugar: existen distintas propuestas lúdicas que permiten fortalecer la memoria, al combinar distintas
        acciones
        como completar palabras, preguntas y respuestas para recordar eventos o datos.
    </p>
    <p>
        <span class="first-letter">C</span>
        uidar la alimentación: el buen funcionamiento de la memoria también tiene su correlato en la dieta que
        llevamos:
        Por eso, el tipo de alimentación es una variable a considerar. Se recomienda incluir pescado, huevos,
        vegetales
        de hojas verdes, alimentos con omega 3.
    </p>
    }
</div>