<div class="question" id="question-2">
    <h4>Ejercicio 2</h4>

    <form method="post">
        <div class="answer-bank">
            <div class="answer">
                <input type="text" name="country" id="country" value="" placeholder="Pais" />
            </div>
            <fieldset class="answer">
                <legend>
                    Datos del país
                </legend>
                <ul>
                    <li>
                        <label for="name">Nombre oficial</label>
                        <input type="checkbox" id="name" name="name" value="name" />
                    </li>
                    <li>
                        <label for="flag">Bandera</label>
                        <input type="checkbox" id="flag" name="flag" value="flag" />
                    </li>
                    <li>
                        <label for="population">Población</label>
                        <input type="checkbox" id="population" name="population" value="population" />
                    </li>
                    <li>
                        <label for="continent">Continente</label>
                        <input type="checkbox" id="continent" name="continent" value="continent" />
                    </li>
                </ul>
            </fieldset>
            <fieldset class="answer">
                <legend>
                    Tiempo
                </legend>
                <ul>
                    <li>
                        <label for="max_temperature">Tª Máxima</label>
                        <input type="checkbox" id="max_temperature" name="max_temperature" value="max_temperature" />
                    </li>
                    <li>
                        <label for="min_temperature">Tª Mínima</label>
                        <input type="checkbox" id="min_temperature" name="min_temperature" value="min_temperature" />
                    </li>
                    <li>
                        <label for="humidity">Humedad relativa</label>
                        <input type="checkbox" id="humidity" name="humidity" value="humidity" />
                    </li>
                    <li>
                        <label for="pressure">Presión atmosférica</label>
                        <input type="checkbox" id="pressure" name="pressure" value="pressure" />
                    </li>
                    <li>
                        <label for="latitude">Longitud y latitud</label>
                        <input type="checkbox" id="latitude" name="latitude" value="latitude" />
                    </li>
                </ul>
            </fieldset>
            <div>
                <div class="answer">
                    <input type="submit" value="Enviar" class="primary" />
                </div>
            </div>
        </div>
    </form>
</div>