<article>
    <div class="container">
        <img (mouseover)="changeImage('https://media.timeout.com/images/105434112/image.jpg')" (mouseout)="resetImage()"
            [src]="currentImage" alt="Img Ciudad de las Artes y las Ciencias" />
        <h1>Ciudad de las Artes y las Ciencias</h1>
    </div>
    <p (mouseover)="changeColor($event)" (mouseout)="resetColor($event)">Ubicada al final del viejo cauce del río Turia, la Ciudad
        de las Artes y las Ciencias
        es un complejo arquitectónico, cultural y de entretenimiento diseñado por
        Santiago Calatrava y Félix Candela, junto con los ingenieros autores del diseño
        estructural de las cubiertas del L'Oceanografic Alberto Domingo y Carlos Lázaro.</p>
</article>