<div class="header">
    <h1>Ejercicio 3</h1>
</div>
<div class="container-two">
    <div id="tablebot">
        <div>
            @for (title of titles; track $index) {
            <h1 [ngStyle]="{
                'background-image': title.styles['background-image'],
                'height': title.styles['height'],
                'width': title.styles['width'],
                'display': title.styles['display'],
                'color': title.styles['color']
                }">{{title.text}}</h1>
            }
        </div>
        <!-- <div>

            <img src="https://s1.eestatic.com/2021/03/09/ciencia/nutricion/564704609_174935756_1706x960.jpg"
                style="width: 33%;">
            <img src="https://beatrixblog.files.wordpress.com/2014/09/naranja-4.jpg?w=584" style="width: 33%;">
            <img src="https://cdn1.img.sputniknews.lat/img/07e6/0b/08/1132232783_0:257:2731:1793_1920x0_80_0_0_fdbda0e88e9a5ad09cdcc6a7a315c196.jpg"
                style="width: 33%;">
            <img src="https://beatrixblog.files.wordpress.com/2014/09/naranja-4.jpg?w=584" style="width: 100%;">
        </div> -->
    </div>
</div>