.operacion {
    font-size: 1.8em;
    vertical-align: middle;
}

.resultado {
    border-style: solid;
    border-width: 1px;
    font-size: 2.5em;
    text-align: right;
    height: 50px;
    overflow: hidden;
    padding-right: 10px;
}

button {
    width: 80px;
    height: 80px;
    font-size: 1em;
    font-weight: bold;
    background-color: lightGray;
}

.sign {
    background-color: lightBlue;
}

button:active {
    background-color: black;
    color: white;
}

td {
    width: "25%";
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.tabla_resultado {
    border-style: solid;
    border-width: 1px;
    width: 415px;
    margin-left: auto;
    margin-right: auto;
}

.calculadora {
    text-align: center;
}