<div class="question" id="question-1">
    <h4>Ejercicio 1</h4>
    <form (ngSubmit)="onSubmit()" [formGroup]="reactiveForm" method="post">
        <div class="answer-bank">
            <div class="answer">
                <select formControlName="category" name="finish" id="finish">
                    <option value="">- Búsqueda por: -</option>
                    <option value="capitulo">Capítulo</option>
                    <option value="personaje">Personaje</option>
                </select>
            </div>
            <div class="answer">
                <input formControlName="name" type="text" name="name" id="name" value="nombre" placeholder="nombre" />
            </div>

            <div class="answer">
                <input type="submit" value="Enviar" class="primary" />
            </div>
        </div>
    </form>
    @if (categorySubmitted === 'capitulo') {
    <p>Personaje: {{nameSubmitted}}</p>
    @for (episode of infoEpisodes; track $index) {
    <p>{{episode.name}} - {{episode.episode}}</p>
    }
    }@else if (categorySubmitted === 'personaje') {
    <p>Capítulo: {{nameSubmitted}}</p>
    }

</div>