<div class="question">
    <p>Para este bloque de actividades vamos a repasar las peticiones HTTP GET a API REST públicas y la
        implementación
        de formularios reactivos. Para ello, primeramente deberás crear un componente header y tres vistas:
        enunciado,
        ejercicio1 y ejercicio2.</p>
    <p>Para cada uno de los dos ejercicios siguientes deberás implementar los servicios, eventos e interfaces que
        sean
        necesarios.</p>
    <h1>Ejercicio 1</h1>
    <p>Implementa el formulario proporcionado de manera que se permita recoger los datos introducidos por el usuario
        y,
        a partir de ellos, realizar una petición HTTP GET a la API REST pública de <a
            href="https://rickandmortyapi.com/" target="_blank">The Rick & Morty API</a>.
        De este modo, el usuario podrá eleccionar si quiere realizar una búsqueda por personaje o por capítulo e
        introducir un nombre. Si el usuario selecciona la búsqueda por personaje,
        se mostrará el listado de todos los capítulos de la serie en los que aparece el personaje indicado -ejemplo:
        'Pilot - S01E01'-. Si la
        búsqueda se realiza por capítulo, se indicará el nombre del capítulo y se mostrarán
        todos los personajes que salen en dicho capítulo.
        Nota: se entenderá que el usuario introduce los nombres correctamente.</p>
    <h1>Ejercicio 2</h1>
    <p>Implementa el formulario proporcionado de manera que se permita recoger los datos introducidos por el usuario
        y,
        a partir de ellos, realizar una petición HTTP GET a las API REST públicas de <a
            href="https://restcountries.com/v3.1/name/spain" target="_blank">API Rest Countries</a>
        para obtener datos sobre países y <a
            href="http://api.openweathermap.org/data/2.5/weather?q=spain,esp&units=metric&lang=es&APPID=f2b990c09e6f73102863cfe63a569f43"
            target="_blank">API Open Weather Map</a>,
        para obtener información meteorológica.
        De este modo, el usuario podrá indicar un país sobre el que obtener información y qué información concreta
        quiere visualizar.
        Nota: los nombres de los países se indicarán en inglés y se entenderá que el usuario introduce los nombres
        correctamente.</p>

</div>