<header>
    <nav class="header">
        <ul>
            <li><a routerLink="/github" routerLinkActive="active">Github</a></li>
            <li><a routerLink="/githubTwo" routerLinkActive="active">GithubTwo</a></li>
            <li><a routerLink="/memigo" routerLinkActive="active">Memigo</a></li>
            <li><a routerLink="/memigoTwo" routerLinkActive="active">MemigoTwo</a></li>
            <li><a routerLink="/memigoThree" routerLinkActive="active">MemigoThree</a></li>
        </ul>
    </nav>
</header>