<!-- Header -->
<!-- Fotos para header
    https://phantom-marca.unidadeditorial.es/f26736e71a6bfb79e3a2b0c631a1bf4e/resize/828/f/jpg/assets/multimedia/imagenes/2023/05/30/16854588843943.jpg
    https://s1.eestatic.com/2018/11/21/ciencia/nutricion/nutricion-frutas-higiene_354976032_106782952_1706x960.jpg
    -->
<header>
    <nav class="header">
        <ul>
            <li><a href="#" (click)="changeFruits()">Frutas</a></li>
            <li><a href="#" (click)="changeVegetables()">Verduras</a></li>
        </ul>
    </nav>
    <div class="banner" [ngStyle]="{'background-image': headerInfo.backgroundUrl}">
        <h2>{{headerInfo.secondTitle}}</h2>
        <h1>{{headerInfo.firstTitle}}</h1>
    </div>
</header>