<div class="navigation">
    <ul>
        <a routerLink="/view1" routerLinkActive="active" class="nav-link" [ngClass]="{'logo': isView1Selected}"
            (click)="selectView(1)">Vista 1</a>
        <a routerLink="/view2" routerLinkActive="active" class="nav-link" [ngClass]="{'logo': !isView1Selected}"
            (click)="selectView(2)">Vista 2</a>
    </ul>
</div>

<div class="banner">
    <div class="banner-text">
        <h2>{{isView1Selected ? 'Vista 1' : 'Vista 2'}}</h2>
    </div>
</div>

<div class="content">
</div>