header {
    background-color: #8297ac;
    margin-left: 80px;
    margin-right: 80px;
    text-align: right;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: rgb(49, 49, 49);
}