main {
    display: flex;
    margin: 0px 200px 0px 200px;
    background-color: white;
}

.menu-container {
    width: 340px;
}

.article-container {
    display: flex;
    width: 800px;
    justify-content: right;
}